/* Animations */

@keyframes scrollColorAnimation
{
	0% {color: #FF3300;}
	25% {color: #FF8000;}
	50% {color: #AAF200;}
	75% {color: #00C6FF}
	100% {color: #FF3300;}
}

@-webkit-keyframes scrollColorAnimation
{
	0% {color: #FF3300;}
	25% {color: #FF8000;}
	50% {color: #AAF200;}
	75% {color: #00C6FF}
	100% {color: #FF3300;}
}

@keyframes bobAnimation
{
	0% {top: 0;}
	25% {top: 2.5px;}
	50% {top: 0;}
	75% {top: -2.5px;}
	100% {top: 0;}
}

@-webkit-keyframes bobAnimation
{
	0% {top: 0;}
	25% {top: 2.5px;}
	50% {top: 0;}
	75% {top: -2.5px;}
	100% {top: 0;}
}

/* General */

	*
	{
		margin: 0;
		padding: 0;
		font-family: 'Open Sans', sans-serif;
	}

	html
	{
		height: 100%;
	}

	body
	{
		height: 100%;
		background-color: #111111;
		background-image: url("/v3/images/bg.png");
		color: #CCCCCC;
		font-weight: 300;
	}

	h1, h2, h3, h4, h5, h6
	{
		font-family: 'Helvetica Neue', 'Roboto', sans-serif;
		font-weight: 400;
	}

	.scrollColor
	{
		-webkit-animation: scrollColorAnimation 4s linear infinite;
		animation: scrollColorAnimation 4s linear infinite;
	}

	.bob
	{
		position: relative;
		-webkit-animation: bobAnimation 1.5s linear infinite;
		animation: bobAnimation 1.5s linear infinite;
	}

	/* Link Override */

		a
		{
			color: inherit;
		}

/* Navigation */

	/* Main Navigation (ribbon) */

		#mainNav
		{
			color: #888888;
			background-color: #440000;
			box-shadow: 0 5px 5px -5px #000000;	
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
			position: absolute;
			left: 0;
			right: 90px;
		}

			#mainNav > div
			{
				display: table;
				width: 100%;
				height: 50px;
			}

				#mainNav > div > ul
				{
					display: table-cell;
					vertical-align: middle;
					list-style-type: none;
					
				}

					#mainNav > div > ul > li
					{
						display: inline-block;
						padding: 10px;
					}

						#mainNav > div > ul > li > a
						{
							text-decoration: none;
							-webkit-transition: color 0.5s;
							-moz-transition: color 0.5s;
							transition: color 0.5s;
						}

						#mainNav > div > ul > li > a:hover
						{
							color: #AAAAAA;
						}

			/* Arrow Nav */

				#arrowNav
				{
					float: right;
					text-align: right;
				}

					#arrowNav > ul
					{
						list-style-type: none;
					}

						#arrowNav > ul > li
						{
							display: inline-block;
							margin-left: 10px;
						}

							#arrowNav > ul > li > a
							{
								text-decoration: none;
								-webkit-transition: color 0.5s;
								-moz-transition: color 0.5s;
								transition: color 0.5s;
							}

								#arrowNav > ul > li > a:hover
								{
									color: #CCCCCC;
									-webkit-transition: color 0.2s;
									-moz-transition: color 0.2s;
									transition: color 0.2s;
								}

								#arrowNav > ul > li > a:active
								{
									color: #AAAAAA;
								}

			/* Ribbon Ending */

				#mainNav canvas
				{
					position: absolute;
				}

/* Screens */

	body > header, body > section
	{
		width: 100%;
		height: 100%;
		box-shadow: inset 0 -5px 0 0 #00C6FF, inset 0 -10px 0 0 #AAF200, inset 0 -15px 0 0 #FF8000, inset 0 -20px 0 0 #FF3300, inset 0 -23px 10px 0 #000000;
	}

/* Header Screen */

	body > header
	{
		display: table;
		text-align: center;
		cursor: default;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
	}

		body > header > div
		{
			display: table-cell;
			vertical-align: middle;	
		}

		body > header h1
		{
			color: #FF3300;
			font-size: 3em;
		}

	#firstDownArrow
	{
		display: inline-block;
		color: #888888;
		font-size: 2em;
		text-decoration: none;
		-webkit-transition: color 0.5s, -webkit-transform 0.5s;
		-moz-transition: color 0.5s, -moz-transform 0.5s;
		transition: color 0.5s, transform 0.5s;
	}

		#firstDownArrow:hover
		{
			color: #FFFFFF;
		}

		.firstDownArrowClick /* activated via Javascript */
		{
			-webkit-transform: rotateY(360deg);
			-moz-transform: rotateY(360deg);
			transform: rotateY(360deg);
		}

/* Normal Screens */

	body > section
	{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 60px 150px 20px 150px;
		overflow: hidden;
	}

		body > section:nth-of-type(4n+1) .theme-color
		{
			color: #FF3300;
		}

		body > section:nth-of-type(4n+2) .theme-color
		{
			color: #FF8000;
		}

		body > section:nth-of-type(4n+3) .theme-color
		{
			color: #AAF200;
		}

		body > section:nth-of-type(4n+4) .theme-color
		{
			color: #00C6FF;
		}

		body > section:nth-of-type(4n+1) .bg-theme-color
		{
			background-color: #FF3300;
		}

		body > section:nth-of-type(4n+2) .bg-theme-color
		{
			background-color: #FF8000;
		}

		body > section:nth-of-type(4n+3) .bg-theme-color
		{
			background-color: #AAF200;
		}

		body > section:nth-of-type(4n+4) .bg-theme-color
		{
			background-color: #00C6FF;
		}

		body > section h2, body > section h3
		{
			margin: 5px 0;	
		}

		body > section h2
		{
			font-size: 2em;
		}

			body > section h2 a
			{
				text-decoration: none;
			}

		body > section h3
		{
			font-size: 1.5em;
		}

		body > section p
		{
			margin-bottom: 5px;	
		}

		body > section ul
		{
			list-style-position: inside;
		}

		body > section li
		{
			margin-top: 10px;
		}

			body > section li:last-of-type
			{
				margin-bottom: 10px;
			}

		body > section code
		{
			background-color: rgba(255,255,255,0.1);
			font-family: "Monaco", monospace;
			font-size: 0.95em;
			padding: 0 3px;
		}

	.overflowProtector
	{
		height: 100%;
		overflow-y: auto;
		-webkit-column-width: 900001px;
		-moz-column-width: 900001px;
		column-width: 900001px;
		-webkit-column-gap: 105px;
		-moz-column-gap: 105px;
		column-gap: 105px;
	}

	.overflowed
	{
		display: none;
		position: relative;
		bottom: 50%;
		bottom: -webkit-calc(50% + 2em);
		bottom: -moz-calc(50% + 2em);
		bottom: calc(50% + 2em);
	}

	.overflowed a
	{
		display: inline-block;
		color: #888888;
		font-size: 2em;
		text-decoration: none;
		-webkit-transition: color 0.5s;
		-moz-transition: color 0.5s;
		transition: color 0.5s;
	}

		.overflowed a:hover, .overflowed a:hover
		{
			color: #FFFFFF;
		}

	.overflowed-left
	{
		position: absolute;
		margin-left: -1.5em;
	}

	.overflowed-right
	{
		position: absolute;
		margin-left: 100%;
		margin-left: -webkit-calc(100% + 0.5em);
		margin-left: -moz-calc(100% + 0.5em);
		margin-left: calc(100% + 0.5em);
		-webkit-transform: rotateZ(180deg);
		-moz-transform: rotateZ(180deg);
		transform: rotateZ(180deg);
	}

	/* Latest Project Screen */

	#showcase
	{
		list-style-type: none;
	}

		#showcase li
		{
			display: inline-table;
			width: 200px;
			height: 200px;
			color: #888888;
			background-image: url("/images/bg.png");
			background-color: #111111;
			border: 1px solid #1A1A1A;
			text-align: center;
			margin: 10px 10px 0 0;
			float: left;
			box-shadow: inset 1px 1px 10px #000000;
			-webkit-transition: color 0.3s, box-shadow 0.3s;
			-moz-transition: color 0.3s, box-shadow 0.3s;
			transition: color 0.3s, box-shadow 0.3s;
		}
		
			#showcase li:hover
			{
				color: #CCCCCC;
				box-shadow: inset 1px 1px 10px 1px #000000;
			}

			#showcase li:active
			{
				box-shadow: inset 1px 1px 10px 2px #000000;
			}

			#showcase li a
			{
				display: table-cell;
				vertical-align: middle;
				text-decoration: none;
			}

/* - Footer - */

body > footer
{
	padding: 20px;
	text-align: center;
	box-shadow: inset 0 0 10px 0 #000000;
}

	body > footer small
	{
		font-size: 0.7em;	
	}